# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Jonathan Roldan\Documents\Maestria\Modelo Orientado a Objetos\Proyectos\strategy-JonaStark\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
